body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgba(248, 248, 248, 1)
}
h2{
    font-size: 4rem;
    color: rgba(197, 15, 15, 1);
}
img{
    max-width: 20%;
}
.message{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}